<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelSql.Properties.Settings.HotelConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\!repositories\WinFormsAppSQL\Hotel.accdb"
            providerName="System.Data.OleDb" />
        <add name="HotelSql.Properties.Settings.HotelConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Hotel.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>